// Your footer style
footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: $gray;
}

// Set a footer-margin class to nbsp; div before your footer
.footer-margin{
  padding: 25px;
}
